<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Page</title>
</head>
<body>
    <!-- READ ALL TABLE -->
    <button id="btn_readTable">Read Table</button>
    <p id="p_readTable"></p>

    <!-- READ SPECIFIC TABLE -->
    <input id="input_readSpecificTable" placeholder="user">
    <button id="btn_readSpecificTable">Read Specific Table</button>
    <P id="p_readSpecificTable"></P>

    <!-- INSERT RECORD -->
    <input id="input_insert" placeholder="name">
    <button id="btn_insert">Insert Record</button>

    <p>
    
    <!-- UPDATE RECORD -->
    <input id="input_update_id" placeholder="id">
    <input id="input_update" placeholder="name">
    <button id="btn_update">Update Record</button>

    <p></p>

    <!-- DELET RECORD -->
    <input id="input_delete" placeholder="name">
    <button id="btn_delete">Delete Record</button>

    <script src="/js/index_view.js"></script>
</body>
</html>